:root {

  --ifm-color-primary: #003c6c;
  --ifm-color-primary-dark: #003661;
  --ifm-color-primary-darker: #00335c;
  --ifm-color-primary-darkest: #002a4c;
  --ifm-color-primary-light: #004277;
  --ifm-color-primary-lighter: #00457c;
  --ifm-color-primary-lightest: #004e8c;
  
  
  --ifm-link-color: #13a5dc;
  --ifm-link-hover-color: #006aad;
  --color-orange: #fdc700;
  --ifm-navbar-link-hover-color: var(--color-orange);
  --ifm-navbar-link-active-color: var(--color-orange);
  
  
  --color-off-white: #eff2f3;
  --color-white: white;
  --color-nav-text: #bfc0c0;
  --color-nav-sub-level-text: #545a66;
  --color-footer-accent: #979eab;
  --docsearch-text-color: #262a38;
  --pagination-icon-next: "\2192";
  --pagination-icon-prev: "\2190";
  --filter-brightness-low: 1.1;
  --filter-brightness-high: 1.5;
  
   

}

[data-theme='dark'] {
  --ifm-color-primary: #e3c516;
  --ifm-color-primary-dark: #ccb114;
  --ifm-color-primary-darker: #c1a713;
  --ifm-color-primary-darkest: #9f8a0f;
  --ifm-color-primary-light: #eace28;
  --ifm-color-primary-lighter: #ebd033;
  --ifm-color-primary-lightest: #efd855;


  --ifm-link-color: #eace2b;
  --ifm-link-hover-color: #eace2b

 }